.wrapper-group-buttons{
  background-color: #fff;
  width: 700px;
  display: flex;
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
  gap: 20px;

  .mat-mdc-outlined-button {
    border-color: currentColor;
    border-style: solid;
    border-width: 1px;
  }

}

.full-width{
  button{
    width: 100%; //ok
    word-break: break-all; //ok
  }
}

