<div class="wrapper-group-buttons full-width">
  @for (btn of btnConfig; track btn; let index = $index) {

    @if(btn.isOutlined){
      <button
        mat-stroked-button
        [disabled]="btn.isDisabled"
        [color]="getValidatedColor(index)"
        (click)="onClick(index)"
        >
        {{ btn.btnText }}
      </button>
    }@else {
      <button
        mat-raised-button
        [disabled]="btn.isDisabled"
        [color]="getValidatedColor(index)"
        (click)="onClick(index)"
        >
        {{ btn.btnText }}
    </button>
    }

  }
</div>
