.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #ededed;
  padding: 50px 0px;

  .title{
    font-size: 2rem;
  }

  .group-buttons{
    max-width: 500px;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 50px;
    margin: 10px;
  }
}



  .single-button button {
    width: 100%; /* Largura do botão será 100% se houver apenas um botão */
  }
