<section class="section">

    <div class="header">
      <!-- <app-display-image [image]="infos.image"></app-display-image> -->
      <app-display-image [imageConfig]="imageTest"></app-display-image>
    </div>

    <div class="title"> <!-- TITULO -->
      <!-- <app-display-text [text]="infos.title"></app-display-text> -->
      <app-display-text [textConfig]="textTitleTest"></app-display-text>
    </div>

    <div class="description"> <!-- TEXTO -->
      <!-- <app-display-text [text]="infos.text"></app-display-text> -->
      <app-display-text [textConfig]="textDescriptionTest"></app-display-text>
    </div>

    <div class="actions"> <!-- ARRAY DE BOTOES -->
      <!-- <app-button
      [btnConfig]="infos.buttons"
      ></app-button> -->

      <app-button
      [btnConfig]="buttonsTest"
      ></app-button>

    </div>

</section>

<router-outlet></router-outlet>
