<section class="container">
  <h1 class="title">Custom material buttons</h1>

  <div class="group-buttons">
    <button mat-stroked-button color="primary">Voltar</button>
    <button mat-raised-button color="primary">Prosseguir</button>
  </div>
  <div class="group-buttons">
    <button mat-stroked-button color="primary">Voltar</button>
    <button mat-flat-button disabled>Prosseguir</button>
  </div>
  <div class="group-buttons">
    <button mat-raised-button color="primary">Ir para o Login</button>
  </div>
  <div class="group-buttons">
    <button mat-raised-button disabled>Redefinir senha</button>
  </div>
</section>

<router-outlet></router-outlet>
