<div class="form-container">
  <div *ngIf="loading">Carregando...</div>
  <form [formGroup]="campaignForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <div class="input-field">
        <label for="nomeCampanha">Nome Campanha</label>
        <input id="nomeCampanha" formControlName="nomeCampanha" type="text" />
      </div>

      <div class="input-field">
        <label for="nomeRelatorio">Nome relatório</label>
        <input id="nomeRelatorio" formControlName="nomeRelatorio" type="text" />
      </div>

      <div class="todo" formGroupName="documentosClientes">
        <div class="input-field">
          <label for="nomeDocumento">Nome Documento</label>
          <input id="nomeDocumento" formControlName="nomeDocumento" type="text" />
        </div>

        <div class="input-field">
          <mat-label>Possui contrato ?</mat-label>
          <mat-form-field>
            <mat-select formControlName="possuiContrato">
              <mat-option *ngFor="let contrato of contratos" [value]="contrato.value">
                {{ contrato.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>


      <div class="input-field-custom">
        <label for="dataInicio">Data Início</label>
        <mat-form-field class="example-full-width">
          <input matInput [min]="minDateRule" [max]="maxDateRule"
          [matDatepicker]="picker1" id="dataInicio" formControlName="dataInicio">
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="input-field-custom">
        <label for="dataFim">Data Fim</label>
        <mat-form-field class="example-full-width">
          <input matInput [min]="minDateRule" [max]="maxDateRule"
          [matDatepicker]="picker2" id="dataFim" formControlName="dataFim">
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="input-field">
        <mat-label>Status</mat-label>
        <mat-form-field>
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of statusOptions" [value]="status">
              {{ status }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="button-container">
        <button id="form-clear-button" type="button" (click)="clearFilters()">
          Limpar
        </button>
        <button id="form-search-button" type="submit" [disabled]="!campaignForm.valid">Pesquisar</button>
      </div>
  </div>
  </form>
  <br>
  <div class="results-table" *ngIf="filteredCampaigns.length > 0">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome Campanha</th>
          <th>Nome Relatório</th>
          <th>Nome Documento</th>
          <th>Possui Contrato</th>
          <th>Data Início</th>
          <th>Data Fim</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredCampaigns">
          <td>{{ item.id }}</td>
          <td>{{ item.nomeCampanha }}</td>
          <td>{{ item.nomeRelatorio }}</td>
          <td>
            <div *ngFor="let doc of item.documentosClientes">
              {{ doc.nomeDocumento }}
            </div>
          </td>
          <td>
            <div *ngFor="let doc of item.documentosClientes">
              {{ doc.possuiContrato }}
            </div>
          </td>
          <td>{{ item.dataInicio | date: 'dd/MM/yyyy' }}</td>
          <td>{{ item.dataFim | date: 'dd/MM/yyyy' }}</td>
          <td>
            <button  id="table-button-details" mat-icon-button (click)="openDetails(item)">
              <mat-icon>search</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <div class="button-container">
      <button id="button-export-to-csv-file"
      (click)="exportToCSV()">Exportar dados</button>
    </div>
  </div>
</div>
