/* app.component.scss */

.form-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;

  .input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; // Espaço entre os itens
    justify-content: flex-start;
    margin-bottom: 20px;
  }

    /* Ajuste específico para o grupo de documentos */
  .todo {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  /* Ajusta os campos internos dentro de "todo" */
  .todo .input-field {
    flex: 1; // Permite que os campos dentro de "todo" fiquem alinhados corretamente
  }

  .input-field{
    flex: 1 1 calc(33.33% - 16px); // Até 3 filtros por linha
    min-width: 220px; // Define um tamanho mínimo para melhor responsividade
    display: flex;
    flex-direction: column;
    line-height: 25px;

    label {
      font-size: 14px;
      margin-bottom: 5px;
    }

    input {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      transition: border 0.3s ease;
    }

    input:focus {
      border-color: #007bff;
    }

    .space{
      margin-bottom: 5px;
    }
  }


  .icons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;

    .icon-container {
      flex: 1;
      min-width: 100px;

      button {
        width: 100%;
        padding: 10px 20px;
        font-size: 14px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        i {
          margin-right: 5px;
        }

        &:hover {
          background-color: #007bff;
          color: white;
        }
      }
    }
  }

  .button-container {
    flex: 1;
    min-width: 220px;
    display: flex;
    justify-content: flex-end;

    button {
      padding: 10px 20px;
      font-size: 16px;
      margin-left: 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #004896;
      }

      &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
      }
    }
  }

  .results-table {
    margin-top: 20px;
    table {
      width: 100%;
      border-collapse: collapse;

      th, td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd;
      }

      th {
        background-color: #f4f4f4;
      }
    }
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination-container button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.form-clear-button{
  background-color: #616161;
  color: white;
}

.form-search-button{
  background-color: #007bff;
  color: white;
}

.form-error-button{
  background-color: #ff4343;
  color: white;
}

/* Datas */
.input-field-custom {
  flex: 1 1 calc(33.33% - 16px); // Até 3 itens por linha
  min-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: justify;
  justify-content: center;
  line-height: 25px;
}

.custom-label-out{
  margin-bottom: 8px;
}

.custom-calendar-inicio{
  margin-top: 20px;
}

.custom-calendar-fim{
  margin-bottom: 8px;
}

::ng-deep .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
  cursor: inherit;
  color: purple;
  margin-top: 0px;
}

::ng-deep .mdc-text-field{
  position: inherit !important;
}
::ng-deep .mdc-text-field--filled{
    border: 1px solid #ccc;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    height: 41px !important;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: transparent !important;
}
::ng-deep .mat-mdc-form-field-infix{
  min-height: 41px !important;
  max-height: 41px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
::ng-deep .mdc-line-ripple{
  display: none !important;
}
::ng-deep .mdc-text-field__input{
  margin-top: 8px;
}
::ng-deep .mdc-text-field--filled.mdc-text-field--no-label .mdc-text-field__input{
  margin-top: 2px;
}


// @media (max-width: 768px) {
//   .form-container {
//     padding: 15px;
//   }

//   .input-group {
//     flex-direction: column;
//   }

//   .input-field, .button-container, .icon-container {
//     flex: 1 1 100%; // Empilha os filtros em telas menores
//   }
// }
