<div class="form-container">
  <div *ngIf="loading">Carregando...</div>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <div class="input-field">
        <label for="nomeBook">Nome Book</label>
        <input id="nomeBook" formControlName="nomeBook" type="text" />
      </div>
      <!-- nao usar este componente -->
      <div class="input-field">
        <label for="nomeRelatorio">Nome relatório</label>
        <input id="nomeRelatorio" formControlName="nomeRelatorio" type="text" />
      </div>

      <div class="input-field" formGroupName="documentosClientes">
        <label for="nomeDocumento">Nome Documento</label>
        <input id="nomeDocumento" formControlName="nomeDocumento" type="text" />
      </div>

      <div class="input-field" formGroupName="documentosClientes">
        <label for="possuiContrato">Possui Contrato</label>
        <input id="possuiContrato" formControlName="possuiContrato" type="text" />
      </div>

      <div class="input-field-custom">
        <label for="dataInicio">Data Início</label>
        <mat-form-field class="example-full-width">
          <input matInput [min]="minDateRule" [max]="maxDateRule"
          [matDatepicker]="picker1" id="dataInicio" formControlName="dataInicio">
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="input-field-custom">
        <label for="dataFim">Data Fim</label>
        <mat-form-field class="example-full-width">
          <input matInput [min]="minDateRule" [max]="maxDateRule"
          [matDatepicker]="picker2" id="dataFim" formControlName="dataFim">
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

    </div>

    <div class="button-container">
      <button id="form-search-button" type="submit" [disabled]="!searchForm.valid">Pesquisar</button>
    </div>
  </form>
  <br>
  <div class="results-table" *ngIf="filteredBooks.length > 0; else noResults">
    <!-- Início da Tabela - Cida Estudos -->
    <table mat-table [dataSource]="dataSourceBooks" matSort>

      <ng-container matColumnDef="nomeBook">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome Livro </th>
        <td mat-cell *matCellDef="let row"> {{ row.nomeBook }} </td>
      </ng-container>

      <ng-container matColumnDef="nomeRelatorio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome Relatório </th>
        <td mat-cell *matCellDef="let row"> {{ row.nomeRelatorio }} </td>
      </ng-container>

      <ng-container matColumnDef="nomeDocumento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome Documento </th>
        <td mat-cell *matCellDef="let row">
          <div *ngFor="let item of row.documentosClientes">
            {{ item.nomeDocumento }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="possuiContrato">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Possui Contrato </th>
        <td mat-cell *matCellDef="let row">
          <div *ngFor="let item of row.documentosClientes">
            {{ item.possuiContrato }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="dataInicio">
        <th mat-header-cell *matHeaderCellDef>Data Início </th>
        <td mat-cell *matCellDef="let row"> {{ row.dataInicio }} </td>
      </ng-container>

      <ng-container matColumnDef="dataFim">
        <th mat-header-cell *matHeaderCellDef>Data Fim </th>
        <td mat-cell *matCellDef="let row"> {{ row.dataFim }} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row"> icones </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [length]="total"
                   [pageSize]="limit"
                   [pageSizeOptions]="[2, 5, 10, 50]"
                   (page)="onPageChange($event)">
    </mat-paginator>
    <!-- Fim Tabela com Paginação -->

  </div>
  <!-- Caso não haja dados filtrados -->
  <ng-template #noResults>
    <div class="no-data-message">
      Nenhum dado encontrado.
    </div>
  </ng-template>
</div>
