<div class="form-container">
  <div *ngIf="loading">Carregando...</div>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <div class="input-field">
        <label for="nomeCampanha">Nome Campanha</label>
        <input id="nomeCampanha" formControlName="nomeCampanha" type="text" />
      </div>

      <div class="input-field">
        <label for="nomeRelatorio">Nome relatório</label>
        <input id="nomeRelatorio" formControlName="nomeRelatorio" type="text" />
      </div>

      <div class="input-field">
        <label for="nomeDocumento">Nome Documento</label>
        <input id="nomeDocumento" formControlName="nomeDocumento" type="text" />
      </div>

      <div class="input-field">
        <label for="possuiContrato">Possui Contrato</label>
        <input id="possuiContrato" formControlName="possuiContrato" type="text" />
      </div>

      <div class="input-field">
        <label for="dataInicio">Data início</label>
        <input id="dataInicio" formControlName="dataInicio" type="text" />
      </div>

      <div class="input-field">
        <label for="dataFim">Data fim</label>
        <input id="dataFim" formControlName="dataFim" type="text" />
      </div>
    </div>

    <div class="button-container">
      <button id="form-search-button" type="submit" [disabled]="!searchForm.valid">Pesquisar</button>
    </div>
  </form>
  <br>
  <div class="results-table" *ngIf="filteredBooks.length > 0">
    <table>
      <thead>
        <tr>
          <th>Nome Campanha</th>
          <th>Nome Relatório</th>
          <th>Nome Documento</th>
          <th>Possui Contrato</th>
          <th>Data Início</th>
          <th>Data Fim</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredBooks">
          <td>{{ item.nomeCampanha }}</td>
          <td>{{ item.nomeRelatorio }}</td>
          <td>
            <div *ngFor="let doc of item.documentosClientes">
              {{ doc.nomeDocumento }}
            </div>
          </td>
          <td>
            <div *ngFor="let doc of item.documentosClientes">
              {{ doc.possuiContrato }}
            </div>
          </td>
          <td>{{ item.dataInicio | date: 'dd/MM/yyyy' }}</td>
          <td>{{ item.dataFim | date: 'dd/MM/yyyy' }}</td>
          <td>icones</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
