.wrapper-image{
  background-color: #f3f8ff;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 10px;
  //border-bottom: 1px solid black;
  //border-top: 1px solid black;
  //margin: 10px 0;
  img{
    padding: 16px;
  }
}
